<!DOCTYPE html>
<html lang="en">
<head>
  <title>Panel Studenta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="page-header">
		{% if page_id == '0' %}
			<h1>Wirtualny dziekanat - Strona główna</h1>
        	{% elif page_id == '1' %}
			<h1>Wirtualny dziekanat - Oceny końcowe</h1>
        	{% elif page_id == '2' %}
        	<h1>Wirtualny dziekanat - Oceny Cząstkowe</h1>
        	{% elif page_id == '3' %}
			<h1>Wirtualny dziekanat - Wiadomości</h1>
        	{% elif page_id == '4' %}
			<h1>Wirtualny dziekanat - Twoje dane</h1>
			
			{% elif page_id == '5' %}
			<h1>Wirtualny dziekanat - Ankiety</h1>

            {% elif page_id == '6' %}
			<h1>Wirtualny dziekanat - Archiwum ocen</h1>

        	{% endif %}
  		
	</div>
  	<div class="row">
    		<div class="col-md-2">
      			<ul class="nav nav-pills nav-stacked">
      				{% if page_id == '0' %}
        			<li class="active"><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
        			<li><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>
					
					<li><a href="{% url 'studentpage' '5'%}">Ankiety</a></li>

                    <li><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>

					
               <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        			{% elif page_id == '1' %}
        			<li><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li class="active" ><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
        			<li><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>
					
					<li><a href="{% url 'studentpage' '5'%}">Ankiety</a></li>
					<li><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>

               <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        			{% elif page_id == '2' %}
        			<li><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li class="active" ><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
        			<li><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>
					
					<li><a href="{% url 'studentpage' '5'%}">Ankiety</a></li>
                    <li><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>
			   <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        			{% elif page_id == '3' %}
        			<li><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
        			<li class="active" ><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>
					
					<li><a href="{% url 'studentpage' '5'%}">Ankiety</a></li>
					<li><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>

               <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        			{% elif page_id == '4'%}
        			<li><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
        			<li><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li class="active"><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>
					
					<li><a href="{% url 'studentpage' '5'%}">Ankiety</a></li>
					<li><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>
               <li><a href="{% url 'logout' %}">Wyloguj</a></li>
			   
			   {% elif page_id == '5' %}
        			<li><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
					<li><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>
					
					<li class="active"><a href="{% url 'studentpage' '5'%}">Ankiety</a></li>
					<li><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>
               <li><a href="{% url 'logout' %}">Wyloguj</a></li>

               {% elif page_id == '6' %}
        			<li><a href="{% url 'studentpage' '0'%}">Strona główna</a></li>
        			<li><a href="{% url 'studentpage' '1'%}">Oceny końcowe</a></li>
        			<li><a href="{% url 'studentpage' '2'%}">Oceny cząstkowe</a></li>
					<li><a href="{% url 'studentpage' '3'%}">Wiadomości</a></li>
        			<li><a href="{% url 'studentpage' '4'%}">Twoje dane</a></li>

					<a href="{% url 'studentpage' '5'%}">Ankiety</a></li>
					<li class="active"><a href="{% url 'studentpage' '6'%}">Archiwum ocen</a></li>
               <li><a href="{% url 'logout' %}">Wyloguj</a></li>
			   
               {% endif %}
      			</ul>
   		</div>
   		<div class="col-md-10">
   		
   		{% if page_id == '0' %}
			<h2>Witaj {{student.user.first_name}} {{student.user.last_name}}</h2> 
				{% if not messages %}
				<h2>Nie masz nowych wiadomości</h2> 
						{% else %}
						<h2>Nieprzeczytane wiadomości</h2> 
 						 {% for message in messages %}
    					<div class="panel panel-info">
   					 <div class="panel-heading">Od: <b>{{message.teacher_id.user.first_name}} {{message.teacher_id.user.last_name}}</b> Data: <b>{{message.date}}</b></div>
   				 <div class="panel-body">{{message.contents}}</div>
   				 <div class="panel-footer">
    					<form action="{% url 'studentpage' '0' %}" method='post'>
						{% csrf_token %}
						<input type="hidden" name="message_id" value="{{message.pk}}" />
						<input type="submit" value="Oznacz jako przeczytane"  class="btn btn-info" role="button"/>
						</form>
  			 		 </div>
 						 </div>
					  {% endfor %}
				{% endif %}
        	{% elif page_id == '1' %}
			  <table class="table table-hover">
				<thead>
				  <tr>
					<th>Nazwa przedmiotu</th>
					<th>Termin 1</th>
					<th>Termin 2</th>
					<th>Termin 3</th>	
					<th>Ocena końcowa</th>
				  </tr>
				</thead>
				<tbody>
				{% for subjectStudent in subjectsAct %}
					<tr><td><b>{{subjectStudent.subject_id}}</b></td><td>{{subjectStudent.final_grade_id.term1_value}}</td><td>{{subjectStudent.final_grade_id.term2_value}}</td><td>{{subjectStudent.final_grade_id.term3_value}}</td><td>{{subjectStudent.final_grade_id.final_value}}</td></tr>
					{% for subsubjectStudent in subsubjectsStudents %}
						{% if subsubjectStudent.sub_subject_id.subject_id == subjectStudent.subject_id %}
							<tr><td>{{subsubjectStudent.sub_subject_id}}</td><td>{{subsubjectStudent.final_grade_id.term1_value}}</td><td>{{subsubjectStudent.final_grade_id.term2_value}}</td><td>{{subsubjectStudent.final_grade_id.term3_value}}</td><td>{{subsubjectStudent.final_grade_id.final_value}}</td><td>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</tbody>
			  </table>
			
		  {% elif page_id == '1' %}
			<h2>Witaj {{student.user.first_name}} {{student.user.last_name}}</h2> 
				{% if not messages %}
				<h2>Nie masz nowych wiadomości</h2> 
						{% else %}
						<h2>Nieprzeczytane wiadomości</h2> 
 						 {% for message in messages %}
    					<div class="panel panel-info">
   					 <div class="panel-heading">Od: <b>{{message.teacher_id.user.first_name}} {{message.teacher_id.user.last_name}}</b> Data: <b>{{message.date}}</b></div>
   				 <div class="panel-body">{{message.contents}}</div>
   				 <div class="panel-footer">
    					<form action="{% url 'studentpage' '0' %}" method='post'>
						{% csrf_token %}
						<input type="hidden" name="message_id" value="{{message.pk}}" />
						<input type="submit" value="Oznacz jako przeczytane"  class="btn btn-info" role="button"/>
						</form>
  			 		 </div>
 						 </div>
					  {% endfor %}
				{% endif %}
        	{% elif page_id == '2' %}
			  <table class="table table-hover">
				<thead>
				  <tr>
					<th>Nazwa przedmiotu</th>
					<th>Operacje</th>
				  </tr>
				</thead>
				<tbody>
				{% for subjectStudent in subjectsStudents %}
					<tr><td>{{subjectStudent.subject_id.name}}</td><td> <a href="{% url 'studentsubject' subjectStudent.subject_id.pk %}" class="btn btn-info" role="button">ZOBACZ OCENY</a></td></tr>
				{% endfor %}
				</tbody>
			  </table>
			


        	{% elif page_id == '3' %}
			<h2>Wiadomości</h2> 
 						 {% for message in all_messages %}
 						 {% if message.is_read == False %}
    					<div class="panel panel-danger">
    					{% else %}
    					<div class="panel panel-info">
    					{% endif %}
   					 <div class="panel-heading">Od: <b>{{message.teacher_id.user.first_name}} {{message.teacher_id.user.last_name}}</b> Data: <b>{{message.date}}</b></div>
   				 <div class="panel-body">{{message.contents}}</div>
   				 {% if message.is_read == False %}
   				 <div class="panel-footer">
    					<form action="{% url 'studentpage' '2' %}" method='post'>
						{% csrf_token %}
						<input type="hidden" name="message_id" value="{{message.pk}}" />
						<input type="submit" value="Oznacz jako przeczytane"  class="btn btn-danger" role="button"/>
						</form>
  			 		 </div>
  			 		 {% endif %}
 						 </div>
					  {% endfor %}
        	{% elif page_id == '4' %}
			<p>Imie: {{student.user.first_name}}</p>  
			<p>Nazwisko: {{student.user.last_name}}</p>
			<p>Nazwa użytkownika:  {{student.user.username}}</p>
            <p>Semestr:  {{student.term_id.term_number}}</p>
			<p>Email:  {{student.user.email}}</p>
			<p>Zdjęcie: </p>
			<img src="{{student.picture.url}}" class="img-rounded" width="150" >
        	
			
			{% elif page_id == '5' %}
			<h2>{{student.user.first_name}} {{student.user.last_name}} oceń prowadzących przedmioty</h2>
			
			<table class="table table-hover">
				<thead>
				  <tr>
					<th>Prowadzący</th>
					<th>Przedmiot</th>
					<th>Ocena</th>
					<th>Uwagi</th>
				  </tr>
				</thead>
				<tbody>
				<tr><td><b>Tomek</b></td></tr>
				
				</tbody>
			  </table>


            {% elif page_id == '6' %}
			   <table class="table table-hover">
				<thead>
				  <tr>
                    <th>Semestr</th>
					<th>Nazwa przedmiotu</th>
					<th>Termin 1</th>
					<th>Termin 2</th>
					<th>Termin 3</th>
					<th>Ocena końcowa</th>
				  </tr>
				</thead>
				<tbody>
                    {% for subjectStudent in subjectsArch %}
					    <tr><td>{{ subjectStudent.term.term_number }}</td><td><b>{{subjectStudent.subject_id}}</b></td><td>{{subjectStudent.final_grade_id.term1_value}}</td><td>{{subjectStudent.final_grade_id.term2_value}}</td><td>{{subjectStudent.final_grade_id.term3_value}}</td><td>{{subjectStudent.final_grade_id.final_value}}</td></tr>
				    {% endfor %}
                </tbody>
			    </table>


			{% endif %}
   		
   		
      


  
  
    </div>
  </div>
</div>

</body>
</html>

