<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wirtualny dziekanat - oceny</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Oceny - {{subject.name}}</h2>  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ocena</th>
        <th>Rodzaj zajęć</th>
        <th>Data wstawienia</th>
      </tr>
    </thead>
    <tbody>
        {% for subGrade in subGrades %}
	        <tr> <td>{{subGrade.value}}</td><td>{{subGrade.sub_subject_id.subsubjecttype_id.name}}</td><td>{{subGrade.date}}</td></tr>
        {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>